<template>
  <div class="active-match" v-if="match !== null">
    <button @click="showMatchModal">your {{ match.pickup }} match</button>
  </div>
</template>

<script>

export default {
  name: 'ActiveMatch',
  data() {
    return {
    }
  },
  computed: {
    match () {
      return this.$store.state.match
    }
  },
  methods: {
    showMatchModal() {
      this.$root.$emit('show-match-modal')
    }
  }
}
</script>

<style>
.active-match button {
  font-size: 1.5rem;
}
</style>